

<header class="navbar navbar-static-top navbar-inverse">
      <div class="container">
      	
      	<%= link_to image_tag("books_img.png", :width => "125", alt: "site logo"), root_path %>
      	<p><%= link_to "readNreturn", root_path, :id => "logo"  %>
      		<nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to"Home", root_path %></li>
          	<li><%= link_to"Books", inventory_path %></li>
          	<li><%= link_to"Log in", '#' %></li>
            <li><%= link_to"Page", page_path %></li>

          </ul>
        </nav>
        </div>
</header>


